.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flashcard-container {
  perspective: 1000px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  color: #282c34;
  margin-top: 20px;
  min-width: 300px;
  min-height: 200px;
}

.flashcard {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  min-height: 150px;
}

.flashcard.is-flipped {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.flashcard-front {
  background-color: white;
  color: #282c34;
}

.flashcard-back {
  background-color: #f9f9f9;
  color: #282c34;
  transform: rotateY(180deg);
}

.controls {
  margin-top: 20px;
}

.question-display {
  margin-bottom: 20px;
}

.memo-display {
  margin-top: 20px;
  font-size: 16px;
}

.usage-box {
  background-color: #e9e9e9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: left;
  font-size: 1rem;
  white-space: pre-wrap;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
